<div class='level'>
  <h2 class='title is-4 level-item is-centered'>Login</h2>
</div>
<%= render 'form' %>
<div class='has-text-centered'>
  <p>No account? <%= link_to 'Sign Up here', signup_url %></p>
</div>
