<div class='box'>
  <h3 class='subtitle'>Declined invites</h3>
  <ul>
    <% if @user.declined_events.empty? %>
      <li>You have no declined invites</li>
    <% else %>
      <% @user.declined_events.each do |event|%>
        <li>
          <div class='level'>
            <%= render 'events/short_display', event: event %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
