<div class='box'>
  <h3 class='subtitle'>Events you are hosting:</h3>
  <ul>
    <% if @hosted_events.empty? %>
      <li>You are not hosting any events</li>
    <% else %>
      <% @hosted_events.each do |event|%>
        <li>
          <div class='level'>
            <%= link_to "#{event.name}", event, class: 'level-item' %>
            <p class='level-item'><%= event.date.localtime.to_formatted_s(:long) %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
