<div class='box'>
  <h3 class='subtitle'>Events you are hosting:</h3>
  <% if @hosted_events.empty? %>
    <p>You are not hosting any events</p>
  <% else %>
    <table class='table is-fullwidth'>
      <thead>
        <th>Event name</th>
        <th>Date</th>
      </thead>
      <tbody >
        <% @hosted_events.each do |event|%>
          <tr>
            <td><%= link_to "#{event.name}", event %></td>
            <td><%= event.date.localtime.to_formatted_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
