<div class='box'>
  <h3 class='subtitle'>Past events:</h3>
  <% if @past_events.empty? %>
    <p>You have no past events</p>
  <% else %>
    <table class='table is-fullwidth'>
      <thead>
        <th>Event name</th>
        <th>Host</th>
        <th>Date</th>
      </thead>
      <tbody >
        <% @past_events.each do |event| %>
          <tr>
            <%= render 'events/short_tb_display', event: event %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
