<div class='box'>
  <h3 class='subtitle'>Past events:</h3>
  <ul>
    <% if @past_events.empty? %>
      <li>You have no past events</li>
    <% else %>
      <% @past_events.each do |event| %>
        <li>
          <div class='level'>
            <%= render 'events/short_display', event: event %>
          </div>
        </li>
        <br>
      <% end %>
    <% end %>
  </ul>
</div>
