<div class='box'>
  <h3 class='subtitle'>Pending invites</h3>
  <ul>
    <% if @user.pending_events.empty? %>
      <li>You have no pending invites</li>
    <% else %>
      <% @user.pending_events.each do |event|%>
        <li>
          <div class='level'>
            <%= render 'events/short_display', event: event %>
            <%= button_to 'Accept', accept_invite_path, params: { user: @user.id, event: event.id }, class: 'button is-small level-item mx-1 is-success' %>
            <%= button_to 'Decline', decline_invite_path, params: { user: @user.id, event: event.id }, class:'button is-small level-item mx-1 is-danger' %></div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
