<div class='box'>
  <h3 class='subtitle'>Pending invites</h3>
  <% if @user.pending_events.empty? %>
    <p>You have no pending invites</p>
  <% else %>
    <table class='table is-fullwidth'>
      <thead>
        <th>Event name</th>
        <th>Host</th>
        <th>Date</th>
        <th>Accept</th>
        <th>Decline</th>
      </thead>
      <tbody >
        <% @user.pending_events.each do |event|%>
          <tr>
            <%= render 'events/short_tb_display', event: event %>
            <td><%= button_to 'Accept', accept_invite_path, params: { user: @user.id, event: event.id }, class: 'button is-small level-item mx-1 is-success' %></td>
            <td><%= button_to 'Decline', decline_invite_path, params: { user: @user.id, event: event.id }, class:'button is-small level-item mx-1 is-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
