<div class='box'>
  <h3 class='subtitle'>Upcoming events:</h3>
  <ul>
    <% if @upcoming_events.empty? %>
      <li>You have no events</li>
    <% else %>
      <% @upcoming_events.each do |event| %>
        <li>
          <div class='level'>
            <%= render 'events/short_display', event: event %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
