<h1 class='title is-4 has-text-centered'>Sign Up</h1>
<%= render 'form', user: @user %>
<div class='has-text-centered'>
  <p>Already have an account? <%= link_to 'Login here', login_path %></p>
</div>
