<h1 class='title is-4 has-text-centered'>All Events</h1>
<div class='columns is-multiline is-centered'>
  <div class='column is-1'></div>
  <div class='column is-10 has-text-centered'>
    <%= render 'users/upcoming_events' %>
  </div>
  <div class='column is-1'></div>
  <div class='column is-1'></div>
  <div class='column is-10 has-text-centered'>
    <%= render 'users/past_events' %>
  </div>
  <div class='column is-1'></div>
</div>
