/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue: #a1dffb;
$dark-blue: #0044ff;
$light-yellow: #f9de59;
$dark-yellow: #e8a628;
$light-red: #f98365;
$dark-red: #c33124;
$primary: $dark-yellow;
$link: $primary;
$info: $blue;
$success: $light-yellow;
$warning: $light-red;
$danger: $dark-red;

@import "bulma";

a.navbar-item:hover {
  background-color: #a1defb5d;
}
.navbar-brand a.navbar-item:hover {
  background-color: #a1defb5d;
}
